@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Poppins:wght@500&family=Roboto+Condensed&display=swap');

:root {
    --bg-color: rgb(23, 23, 23);
    --text-color: rgb(192, 198, 211);
    --light-red: rgb(83, 69, 69);
    --eye-size: 600px;
    --iris-border-w: 5px;
    --iris-border-color: #161e27;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
    color: var(--text-color);
    /* background-color: rgb(75, 77, 80); */
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

body {
    background-color: black;
    /* font-family: 'Roboto Condensed'; */
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* -------------- LANDING ---------------- */

.landing {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.landing-text {
    color: var(--text-color);
    font-size: 70px;
    letter-spacing: 2vw;

    display: flex;
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/* button {
    background: none;
    color: inherit;
    border: inherit;
    font: inherit;
    outline: inherit;
    display: flex;
    padding: 5vh;
    padding-right: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    animation: 2.5s ease-in 0s 1 title-on-load;
} */

/* span.landing-text {
    display: flex;
    padding: 5vh;
    border-radius: 2rem;
    cursor: pointer;
    animation: 2.5s ease-in 0s 1 title-on-load;
} */

@keyframes title-on-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.spotlight-container {
    padding: 5vh;
    border-radius: 2rem;
    cursor: pointer;
    animation: 2.5s ease-in 0s title-on-load;
}

.spotlight:hover::before {
    opacity: 1;
}

.spotlight::before {
    background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.35),
            transparent 60%);
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: inherit;

    opacity: 0;
    transition: width 700ms ease, height 700ms ease, opacity 500ms;

    z-index: 1;
}

@media screen and (max-width: 600px) {

    span.landing {
        padding: 2rem;
    }

    .landing-text {
        letter-spacing: 1vw;
    }
}

@media screen and (max-width: 450px) {

    .landing-text {
        font-size: 50px;
        text-align: center;
        background: radial-gradient(400px circle at 0 0, rgba(255, 255, 255, 0.25), transparent 80%);
    }

    .spotlight:hover::before {
        opacity: 0;
    }
}

/* ---------------- EYE --------------- */

.eye-wrap {
    height: var(--eye-size);
    width: var(--eye-size);
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 75% 0;
    z-index: -1;
}

.eyelid {
    width: calc(var(--eye-size) * 3 / 2);
    height: calc(var(--eye-size) * 5 / 5);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: inherit - 1;
}

#eyelid-span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 60% 60%;
    z-index: inherit;
    transition: 0.4s all;
}

@keyframes eye-open-animation {

    0% {
        height: 100%;
    }

    50% {
        height: 90%;
    }

    100% {
        height: 0%;
    }
}

@keyframes eye-close-animation {

    0% {
        height: 0%;
    }

    50% {
        height: 10%;
    }

    100% {
        height: 100%;
    }
}

.eye {
    background: rgb(233, 225, 225);
    height: var(--eye-size);
    width: var(--eye-size);
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 60% 1%;
    overflow: hidden;
    z-index: -2;
}

.pupil {
    width: calc(var(--eye-size) / 5);
    height: calc(var(--eye-size) / 5);
}

.pupil,
.iris,
.iris2,
.iris3,
.iris4 {
    border-radius: 50%;
    border: 5px solid var(--iris-border-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: inherit;
}

.iris {
    width: calc(var(--eye-size) / 3);
    height: calc(var(--eye-size) / 3);
}

.iris2 {
    width: calc(var(--eye-size) * 3 / 5);
    height: calc(var(--eye-size) *3 / 5);
}

.iris3 {
    width: calc(var(--eye-size) * 5 / 6);
    height: calc(var(--eye-size) * 5 / 6);
}

.iris4 {
    width: calc(var(--eye-size));
    height: calc(var(--eye-size));
}

@media screen and (max-width: 900px) {
    :root {
        --eye-size: 400px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --eye-size: 300px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --eye-size: 250px;
    }
}


/* ---------------- MOUTh ------------------ */
/* 
.mouth-wrap {
    aspect-ratio: 900/600;
    width: 100vw;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/layered-peaks-haikei.svg');
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
} */


/* -------------- NAV ---------------- */

header {
    color: var(--text-color);
    font-size: 20px;
    padding: 30px 10%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}

.nav-title-container {
    margin-right: auto;
    height: 100%;
    display: flex;
    font-size: 1.25rem;
}

.nav-title-container a {
    display: inherit;
    padding: 0;
    margin: 0;
}

.nav-title-icon {
    display: flex;
    max-width: 30px;
    font-size: 2rem;
    margin: auto;
}

.nav-title-icon:hover {
    animation: 0.5s ease nav-icon-anim;
    font-size: 2.25rem;
    color: rgba(255, 255, 255, 1);
    transition: font-size 0.5s ease;
}

@keyframes nav-icon-anim {
    0% {
        font-size: 2rem;
        color: var(--text-color);
    }

    100% {
        font-size: 2.25rem;
        color: rgba(255, 255, 255, 1);
    }
}

.nav-title-text {
    height: 100%;
    padding: 1rem;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 1s ease;
}

.nav-links li:hover {
    opacity: 1;
}

/* ---------------- MAIN ------------------ */

main {}