@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Poppins:wght@500&family=Roboto+Condensed&display=swap');

/* ---------------- ** GENERAL ------------------- */

:root {
    --bg-color: rgb(23, 23, 23);
    --bg-main-color: rgb(26, 26, 26);
    --bg-color-secondary: rgb(66, 66, 66);
    --bg-color-nav: rgba(51, 51, 51, 0.541);
    --text-color: rgb(199, 206, 219);
    --light-red: rgb(83, 69, 69);
    --eye-size: 600px;
    --iris-border-w: 5px;
    --iris-border-color: #161e27;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
    color: var(--text-color);
}

a,
button {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* -------------- ** LANDING ---------------- */

.landing {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.landing-text {
    color: var(--text-color);
    font-size: 70px;
    letter-spacing: 2vw;

    display: flex;
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

@keyframes title-on-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.spotlight-container {
    padding: 5vh;
    border-radius: 2rem;
    cursor: pointer;
    animation: 2.5s ease-in 0s title-on-load;
}

.spotlight:hover::before {
    opacity: 1;
}

.spotlight::before {
    background: radial-gradient(300px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.35),
            transparent 60%);
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: inherit;

    opacity: 0;
    transition: width 700ms ease, height 700ms ease, opacity 500ms;
    z-index: 1;
}

@media screen and (max-width: 600px) {

    span.landing {
        padding: 2rem;
    }

    .landing-text {
        letter-spacing: 1vw;
    }
}

@media screen and (max-width: 450px) {

    .landing-text {
        font-size: 50px;
        text-align: center;
        background: radial-gradient(400px circle at 0 0, rgba(255, 255, 255, 0.25), transparent 80%);
    }

    .spotlight:hover::before {
        opacity: 0;
    }
}

/* ----- EYE ------ */

.eye-wrap {
    height: var(--eye-size);
    width: var(--eye-size);
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 75% 0;
    z-index: -1;
}

.eyelid {
    width: calc(var(--eye-size) * 3 / 2);
    height: calc(var(--eye-size) * 5 / 5);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: inherit - 1;
}

#eyelid-span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 60% 60%;
    z-index: inherit;
    transition: 0.4s all;
}

@keyframes eye-open-animation {

    0% {
        height: 100%;
    }

    50% {
        height: 90%;
    }

    100% {
        height: 0%;
    }
}

@keyframes eye-close-animation {

    0% {
        height: 0%;
    }

    50% {
        height: 10%;
    }

    100% {
        height: 100%;
    }
}

.eye {
    background: rgb(233, 225, 225);
    height: var(--eye-size);
    width: var(--eye-size);
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 60% 1%;
    overflow: hidden;
    z-index: -2;
}

.pupil {
    width: calc(var(--eye-size) / 5);
    height: calc(var(--eye-size) / 5);
}

.pupil,
.iris,
.iris2,
.iris3,
.iris4 {
    border-radius: 50%;
    border: 5px solid var(--iris-border-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: inherit;
}

.iris {
    width: calc(var(--eye-size) / 3);
    height: calc(var(--eye-size) / 3);
}

.iris2 {
    width: calc(var(--eye-size) * 3 / 5);
    height: calc(var(--eye-size) *3 / 5);
}

.iris3 {
    width: calc(var(--eye-size) * 5 / 6);
    height: calc(var(--eye-size) * 5 / 6);
}

.iris4 {
    width: calc(var(--eye-size));
    height: calc(var(--eye-size));
}

@media screen and (max-width: 900px) {
    :root {
        --eye-size: 400px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --eye-size: 300px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --eye-size: 250px;
    }
}

/* ------ NAV ------ */

header {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: var(--bg-color-nav);
    color: var(--text-color);
    padding: 3vh 5vw;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: padding-bottom 0.25s ease, padding-top 0.25s ease;
}

.nav-title-container {
    margin-right: auto;
    height: 100%;
    display: flex;
    font-size: 1.25rem;
    transition: opacity 0.5s ease;
}

.nav-title-container:hover {
    opacity: 0.6;
}

.nav-title-container a {
    display: inherit;
    padding: 0;
    margin: 0;
}

.nav-title-icon {
    display: flex;
    max-width: 30px;
    font-size: 2rem;
    margin: auto;
}

.nav-title-text {
    height: 100%;
    padding: 1rem;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-links {
    font-size: 1.5rem;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.nav-links li:hover {
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    header {
        padding: 15px 10%;
    }

    .nav-title-container {
        font-size: 1rem;
    }

    .nav-title-icon {
        font-size: 1.5rem;
    }

    .nav-links {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding: 15px 20px;
    }

    .nav-title-container {
        font-size: 0.75rem;
    }

    .nav-title-icon {
        font-size: 1rem;
    }

    .nav-links {
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {
    header {
        padding: 5px 15px;
    }

    .nav-title-container {
        font-size: 0.7rem;
    }

    .nav-title-icon {
        font-size: 0.9rem;
    }

    .nav-links {
        font-size: 1rem;
    }
}

/* ---------------- MAIN ------------------ */


main {
    width: 100%;
    height: 100%;
    padding: 0px;
    padding-top: 8%;
    margin: 0px;
    background-color: var(--bg-main-color);
}

.main-container {
    display: block;
    flex-direction: column;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
    position: relative;
    text-align: center;
}

.info-text {
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}

.info-text-top-container {
    max-width: 900px;
    padding: 5rem;
    margin: auto auto;
    display: block;
}

.info-text-top {
    background-color: var(--bg-color-secondary);
    border-radius: 20px;
    margin-top: 8rem;
}

.info-text>h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
    opacity: 0.9;
}

.info-text>h2 {
    opacity: 0.7;
}

.info-text>p {
    padding-top: 15px;
    opacity: 0.9;
}

/* .next-arrow-container {
    display: block;
    padding-top: 20rem;
}

.next-arrow {
    width: 7rem;
    height: 3rem;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media screen and (max-width: 600px) {
    .info-text-top-container {
        padding: 5rem 0;
        margin-bottom: auto;
    }

    .info-text {
        padding: 1.5rem;
    }

    .info-text>p {}
}

#display-comic {
    width: 100%;
    padding-bottom: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display-comic>img {
    box-shadow: 20px 20px 8px #0e0d0d;
    margin: 0px 40px;
    max-width: 900px;
    width: auto;
}

@media screen and (max-width: 650px) {
    #display-comic {
        padding: 0 10px;
        gap: 20px;
    }

    #display-comic>img {
        height: 80vh;
    }
}

@media screen and (max-width: 500px) {
    #display-comic {
        padding: 0 10px;
        gap: 20px;
    }

    #display-comic>img {
        height: 70vh;
    }
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
}

.container * {
    padding: 8px 0px;
}

.container h1 {
    font-size: 60px;
}

.container h3 {
    font-size: 30px;
}

.container p {
    font-size: 30px;
}



/* ------------ ** FOOTER -------------- */

footer {
    background-color: var(--bg-main-color);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.1em;
}

footer>a>img {
    width: 100%;
}