:root {
    --bg-color: rgb(23, 23, 23);
    --text-color: rgb(192, 198, 211);
    --light-red: rgb(83, 69, 69);
    --eye-size: 600px;
    --iris-border-w: 5px;
    --iris-border-color: #161e27;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

/* body {
    background-color: black;
    font-family: 'Roboto Condensed';
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
} */

.eye-wrap {
    height: var(--eye-size);
    width: var(--eye-size);
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 75% 0;
    z-index: -1;
}

.eyelid {
    width: calc(var(--eye-size) * 3 / 2);
    height: calc(var(--eye-size) * 5 / 5);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: inherit - 1;
}

#eyelid-span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 60% 60%;
    z-index: inherit;
    transition: 0.4s all;
}

@keyframes eye-open-animation {

    0% {
        height: 100%;
    }

    50% {
        height: 90%;
    }

    100% {
        height: 0%;
    }
}

@keyframes eye-close-animation {

    0% {
        height: 0%;
    }

    50% {
        height: 10%;
    }

    100% {
        height: 100%;
    }
}

.eye {
    background: rgb(233, 225, 225);
    height: var(--eye-size);
    width: var(--eye-size);
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 60% 1%;
    overflow: hidden;
    z-index: -2;
}

.pupil {
    width: calc(var(--eye-size) / 5);
    height: calc(var(--eye-size) / 5);
}

.pupil,
.iris,
.iris2,
.iris3,
.iris4 {
    border-radius: 50%;
    border: 5px solid var(--iris-border-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: inherit;
}

.iris {
    width: calc(var(--eye-size) / 3);
    height: calc(var(--eye-size) / 3);
}

.iris2 {
    width: calc(var(--eye-size) * 3 / 5);
    height: calc(var(--eye-size) *3 / 5);
}

.iris3 {
    width: calc(var(--eye-size) * 5 / 6);
    height: calc(var(--eye-size) * 5 / 6);
}

.iris4 {
    width: calc(var(--eye-size));
    height: calc(var(--eye-size));
}

@media screen and (max-width: 400px) {
    :root {
        --eye-size: 200px;
    }
}